.whiteButton {
    display: block;
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #23262F;
    padding: 16px 20px;
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}