.blueButton {
    display: block;
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
    padding: 16px 20px;
    background: #3772FF;
    border-radius: 90px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-bottom: 8px;
}